<!DOCTYPE html>
<html lang="en">

<head>
    <title>Strong training</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="../css/fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link rel="icon" href="../img/icon.PNG" type="image/png" sizes="16x16">

</head>

<body>

    <!--Barra de navegación-->
    <div id="nav">

        <ul>
            <li><a href="../index.html"><i class="fas fa-home"></i></a></li>
            <li><a href="#header"><i class="fas fa-mail-bulk active"></i></a></li>
            <li><a href="info.html"><i class="fas fa-info-circle"></i></a></li>

            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn"><i class="fas fa-download"></i></a>
                <div class="dropdown-content">
                    <a href="https://play.google.com/store/"><i class="fab fa-android"></i>    Android</a>
                    <a href="https://www.apple.com/es/"><i class="fab fa-apple"></i>    iOS</a>

                </div>
            </li>
        </ul>
    </div>

    <div class="header" id="header">
        <h1>STRONG</h1>
        <h1>TRAINING</h1>

    </div>

    <div class="row">
        <div class="multicolor">

        </div>

        <div class="row" id="section-2">
            <div class="one-column">
                <h1 class="color_texto">Nos podras encontrar en:</h1>
            </div>
            <div class="four-column">
                <a href="https://www.Instagram.com/">

                </a>
                <a href="https://www.Instagram.com/"><img src="../img/Instagram.png"></a>
            </div>
            <div class="four-column">
                <a href="https://www.Twitter.com/"><img src="../img/Twitter.png"></a>
            </div>
            <div class="four-column">
                <a href="https://www.youtube.com/">

                </a>
                <a href="https://www.youtube.com/"><img src="../img/youtube.png"></a>
            </div>
            <div class="four-column">
                <a href="https://www.facebook.com/">

                </a>
                <a href="https://www.facebook.com/"><img src="../img/facebook.png"></a>
            </div>
        </div>


        <div class="row">
            <div class="multicolor"></div>

        </div>

        <div class="footer">
            <h4><i class="fab fa-medapps"></i> STRONG.CO</h4>
            <h4>En colaboración con G8 <i class="fas fa-hammer"></i></h4>

        </div>


        <script>
            // When the user scrolls down 50px from the top of the document, resize the header's font size
            window.onscroll = function() {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                    document.getElementById("nav").style.backgroundColor = "grey";
                } else {
                    document.getElementById("nav").style.backgroundColor = "rgba(0,0,0,0.0)";
                }
            }
        </script>
</body>

</html>